In [110]:
import pandas as pd

In [111]:
train_ds = pd.read_csv('data/bank_data_train.csv')
test_ds = pd.read_csv('data/bank_data_test.csv')

In [112]:
test_ds['is_test'] = 1
train_ds['is_test'] = 0

## Filtering nan fields

In [136]:

df_of_all = train_ds.append(test_ds)
null_fields = sorted(df_of_all.isna().sum().items(), key=lambda c: c[1], reverse=True)
fields_left = map(lambda f: f[0], filter(lambda f: f[1] < 65000, null_fields))
df_filtered = df_of_all[list(fields_left) + ['TARGET']]

In [137]:
null_fields

[('CLNT_SALARY_VALUE', 443103),
 ('LDEAL_YQZ_COM', 442425),
 ('LDEAL_YQZ_CHRG', 442414),
 ('AVG_PCT_MONTH_TO_PCLOSE', 441934),
 ('MAX_PCLOSE_DATE', 441603),
 ('LDEAL_AMT_MONTH', 441596),
 ('AVG_PCT_DEBT_TO_DEAL_AMT', 441596),
 ('LDEAL_YQZ_PC', 440429),
 ('LDEAL_TENOR_MAX', 433879),
 ('DEAL_YQZ_IR_MAX', 433879),
 ('DEAL_YQZ_IR_MIN', 433879),
 ('LDEAL_TENOR_MIN', 433879),
 ('LDEAL_DELINQ_PER_MAXYQZ', 433879),
 ('MED_DEBT_PRC_YQZ', 433879),
 ('LDEAL_USED_AMT_AVG_YQZ', 433879),
 ('CLNT_JOB_POSITION_TYPE', 387905),
 ('APP_CAR', 372212),
 ('APP_DRIVING_LICENSE', 372211),
 ('APP_TRAVEL_PASS', 372211),
 ('APP_KIND_OF_PROP_HABITATION', 369645),
 ('APP_POSITION_TYPE', 368188),
 ('APP_REGISTR_RGN_CODE', 368106),
 ('CNT_TRAN_CLO_TENDENCY1M', 361192),
 ('SUM_TRAN_CLO_TENDENCY1M', 361192),
 ('APP_EMP_TYPE', 359625),
 ('APP_COMP_TYPE', 359625),
 ('APP_EDUCATION', 358696),
 ('APP_MARITAL_STATUS', 358546),
 ('CNT_TRAN_MED_TENDENCY1M', 357781),
 ('SUM_TRAN_MED_TENDENCY1M', 357781),
 ('DEAL_GRACE_DAYS_ACC_AVG', 357333),
 ('DEAL_GRACE_DAYS_ACC_MAX', 357333),
 ('CLNT_TRUST_RELATION', 357070),
 ('DEAL_GRACE_DAYS_ACC_S1X1', 356094),
 ('CNT_TRAN_AUT_TENDENCY1M', 347594),
 ('SUM_TRAN_AUT_TENDENCY1M', 347594),
 ('LDEAL_ACT_DAYS_ACC_PCT_AVG', 327259),
 ('LDEAL_ACT_DAYS_PCT_TR3', 327259),
 ('LDEAL_ACT_DAYS_PCT_TR', 327259),
 ('LDEAL_ACT_DAYS_PCT_TR4', 327259),
 ('LDEAL_ACT_DAYS_PCT_CURR', 327259),
 ('DEAL_YWZ_IR_MIN', 324458),
 ('DEAL_YWZ_IR_MAX', 324458),
 ('LDEAL_USED_AMT_AVG_YWZ', 324458),
 ('MED_DEBT_PRC_YWZ', 324458),
 ('LDEAL_DELINQ_PER_MAXYWZ', 324458),
 ('LDEAL_ACT_DAYS_PCT_AAVG', 321361),
 ('SUM_TRAN_AUT_TENDENCY3M', 305352),
 ('CNT_TRAN_AUT_TENDENCY3M', 305352),
 ('SUM_TRAN_CLO_TENDENCY3M', 300634),
 ('CNT_TRAN_CLO_TENDENCY3M', 300634),
 ('CNT_TRAN_MED_TENDENCY3M', 299210),
 ('SUM_TRAN_MED_TENDENCY3M', 299210),
 ('PRC_ACCEPTS_A_EMAIL_LINK', 250305),
 ('PRC_ACCEPTS_A_POS', 250305),
 ('PRC_ACCEPTS_A_TK', 250305),
 ('PRC_ACCEPTS_A_AMOBILE', 250305),
 ('PRC_ACCEPTS_TK', 250305),
 ('PRC_ACCEPTS_A_MTP', 250305),
 ('CNT_ACCEPTS_TK', 250305),
 ('PRC_ACCEPTS_A_ATM', 250305),
 ('PRC_ACCEPTS_MTP', 250305),
 ('CNT_ACCEPTS_MTP', 250305),
 ('SUM_TRAN_SUP_TENDENCY1M', 249066),
 ('CNT_TRAN_SUP_TENDENCY1M', 249066),
 ('CNT_TRAN_SUP_TENDENCY3M', 195607),
 ('SUM_TRAN_SUP_TENDENCY3M', 195607),
 ('CNT_TRAN_ATM_TENDENCY1M', 186663),
 ('SUM_TRAN_ATM_TENDENCY1M', 186663),
 ('CLNT_JOB_POSITION', 180325),
 ('CNT_TRAN_ATM_TENDENCY3M', 124569),
 ('SUM_TRAN_ATM_TENDENCY3M', 124569),
 ('TARGET', 88798),
 ('TRANS_AMOUNT_TENDENCY3M', 64950),
 ('TRANS_CNT_TENDENCY3M', 64950),
 ('AMOUNT_RUB_CLO_PRC', 47923),
 ('AMOUNT_RUB_SUP_PRC', 47923),
 ('AMOUNT_RUB_NAS_PRC', 47923),
 ('TRANS_COUNT_SUP_PRC', 47923),
 ('TRANS_COUNT_NAS_PRC', 47923),
 ('TRANS_COUNT_ATM_PRC', 47923),
 ('AMOUNT_RUB_ATM_PRC', 47923),
 ('ID', 0),
 ('CR_PROD_CNT_IL', 0),
 ('TURNOVER_DYNAMIC_IL_1M', 0),
 ('REST_DYNAMIC_FDEP_1M', 0),
 ('REST_DYNAMIC_SAVE_3M', 0),
 ('CR_PROD_CNT_VCU', 0),
 ('REST_AVG_CUR', 0),
 ('CR_PROD_CNT_TOVR', 0),
 ('CR_PROD_CNT_PIL', 0),
 ('TURNOVER_CC', 0),
 ('TURNOVER_PAYM', 0),
 ('AGE', 0),
 ('CR_PROD_CNT_CC', 0),
 ('REST_DYNAMIC_FDEP_3M', 0),
 ('REST_DYNAMIC_IL_1M', 0),
 ('CR_PROD_CNT_CCFP', 0),
 ('REST_DYNAMIC_CUR_1M', 0),
 ('REST_AVG_PAYM', 0),
 ('LDEAL_GRACE_DAYS_PCT_MED', 0),
 ('REST_DYNAMIC_CUR_3M', 0),
 ('TURNOVER_DYNAMIC_CUR_1M', 0),
 ('REST_DYNAMIC_PAYM_3M', 0),
 ('REST_DYNAMIC_IL_3M', 0),
 ('TURNOVER_DYNAMIC_IL_3M', 0),
 ('REST_DYNAMIC_PAYM_1M', 0),
 ('TURNOVER_DYNAMIC_CUR_3M', 0),
 ('PACK', 0),
 ('CLNT_SETUP_TENOR', 0),
 ('TURNOVER_DYNAMIC_PAYM_3M', 0),
 ('TURNOVER_DYNAMIC_PAYM_1M', 0),
 ('REST_DYNAMIC_CC_1M', 0),
 ('TURNOVER_DYNAMIC_CC_1M', 0),
 ('REST_DYNAMIC_CC_3M', 0),
 ('TURNOVER_DYNAMIC_CC_3M', 0),
 ('is_test', 0)]

In [138]:
mappings = {
   "TRANS_AMOUNT_TENDENCY3M":"transactions_sum_3_to_6_M",
   "TRANS_CNT_TENDENCY3M":"transactions_count_3_to_6_M",
   "AMOUNT_RUB_CLO_PRC":"clothes_to_all_amount",
   "AMOUNT_RUB_SUP_PRC":"supplies_to_all_amount",
   "AMOUNT_RUB_NAS_PRC":"",
   "TRANS_COUNT_SUP_PRC":"supplies_to_all_count",
   "TRANS_COUNT_NAS_PRC":"",
   "TRANS_COUNT_ATM_PRC":"Atm_to_all_count",
   "AMOUNT_RUB_ATM_PRC":"atm_to_all_amount",
   "ID":"id",
   "CR_PROD_CNT_IL":"",
   "TURNOVER_DYNAMIC_IL_1M":"",
   "REST_DYNAMIC_FDEP_1M":"",
   "REST_DYNAMIC_SAVE_3M":"",
   "CR_PROD_CNT_VCU":"",
   "REST_AVG_CUR":"avg_account_balance",
   "CR_PROD_CNT_TOVR":"",
   "CR_PROD_CNT_PIL":"",
   "TURNOVER_CC":"avg_turnover_credit_card",
   "TURNOVER_PAYM":"avg_turnover_salary_account",
   "AGE":"age_months",
   "CR_PROD_CNT_CC":"",
   "REST_DYNAMIC_FDEP_3M":"",
   "REST_DYNAMIC_IL_1M":"",
   "CR_PROD_CNT_CCFP":"",
   "REST_DYNAMIC_CUR_1M":"",
   "REST_AVG_PAYM":"avg_salary_account_balance",
   "LDEAL_GRACE_DAYS_PCT_MED":"",
   "REST_DYNAMIC_CUR_3M":"",
   "TURNOVER_DYNAMIC_CUR_1M":"",
   "REST_DYNAMIC_PAYM_3M":"",
   "REST_DYNAMIC_IL_3M":"",
   "TURNOVER_DYNAMIC_IL_3M":"",
   "REST_DYNAMIC_PAYM_1M":"",
   "TURNOVER_DYNAMIC_CUR_3M":"",
   "PACK":"service_package",
   "CLNT_SETUP_TENOR":"customer_time_months",
   "TURNOVER_DYNAMIC_PAYM_3M":"",
   "TURNOVER_DYNAMIC_PAYM_1M":"",
   "REST_DYNAMIC_CC_1M":"",
   "TURNOVER_DYNAMIC_CC_1M":"",
   "REST_DYNAMIC_CC_3M":"",
   "TURNOVER_DYNAMIC_CC_3M":"",
   "TARGET":"target"
}

In [139]:
source = []
target = []
for ms, mt in mappings.items():
    if len(mt) == 0:
        target.append(ms)
    else:
        target.append(mt)
    source.append(ms)
df_filtered = df_filtered[source]
df_filtered.columns = target

In [140]:
df_filtered

,transactions_sum_3_to_6_M,transactions_count_3_to_6_M,clothes_to_all_amount,supplies_to_all_amount,AMOUNT_RUB_NAS_PRC,supplies_to_all_count,TRANS_COUNT_NAS_PRC,Atm_to_all_count,atm_to_all_amount,id,...,TURNOVER_DYNAMIC_CUR_3M,service_package,customer_time_months,TURNOVER_DYNAMIC_PAYM_3M,TURNOVER_DYNAMIC_PAYM_1M,REST_DYNAMIC_CC_1M,TURNOVER_DYNAMIC_CC_1M,REST_DYNAMIC_CC_3M,TURNOVER_DYNAMIC_CC_3M,target
0,0.483032,0.406780,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,146841,...,0.442285,K01,1.593023,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
1,0.394340,0.545455,0.041033,0.244678,0.000000,0.454545,0.000000,0.109091,0.410691,146842,...,0.515876,102,1.587647,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
2,0.399342,0.297297,0.006915,0.000000,0.000000,0.000000,0.000000,0.810811,0.925140,146843,...,0.522833,102,1.587647,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
3,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,146844,...,0.000189,K01,1.583333,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
4,0.611610,0.620690,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,146845,...,0.593648,102,1.583333,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88793,0.218081,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,175305,...,0.258624,O01,10.254313,0.000000,0.000000,0.0,0.0,0.0,0.0,NaN
88794,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,275016,...,0.001314,K01,3.023130,0.000000,0.000000,0.0,0.0,0.0,0.0,NaN
88795,0.611726,0.588689,0.047768,0.241843,0.090111,0.233933,0.053985,0.131105,0.359406,277398,...,0.000000,O01,4.098399,0.536266,0.162707,0.0,0.0,0.0,0.0,NaN
88796,0.394663,0.481283,0.035166,0.037590,0.002336,0.096257,0.064171,0.363636,0.542239,469164,...,0.369806,104,6.012259,0.000000,0.000000,0.0,0.0,0.0,0.0,NaN
88797,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,397854,...,1.000000,K01,0.603768,0.000000,0.000000,0.0,0.0,0.0,0.0,NaN